<!DOCTYPE html>
<html lang="en">

<head>
  {% include "head_preamble.html" %}
  <title>nj-vs-vh page | gallery</title>
  <meta name="description" content="Gallery" />
</head>

<body>
  <div class="main-column">
    <header><a href="/">home</a> / <a href="/gallery">gallery</a> /
      {% if let Some(prev) = found.prev %}
      <a id="goto-prev" href="{{prev.filename}}">&lt;</a>
      {% else %}
      <span>&lt;</span>
      {% endif %}
      <!--  -->
      {{ found.image.filename }}
      <!--  -->
      {% if let Some(next) = found.next %}
      <a id="goto-next" href="{{next.filename}}">&gt;</a>
      {% else %}
      <span>&gt;</span>
      {% endif %}
    </header>
    <div>
      <img id="photo" src="media/{{ found.image.filename }}" />
      <div style="display: flex; justify-content: space-between; gap: 2rem;">
        {% match found.image.title %}
        {% when Some with (title) %}
        <span>{{title}}</span>
        {% when None %}
        {% endmatch %}
        <!--  -->
        <span>{{found.image.timestamp.date()}}</span>
      </div>
      {% include "license_footer.html" %}
    </div>
  </div>
</body>

<script>
  document.addEventListener("keyup", (event) => {
    event.preventDefault();
    let btn = null;
    if (["ArrowLeft", "KeyH"].includes(event.code)) {
      btn = document.getElementById("goto-prev");
    }
    if (["ArrowRight", "KeyL"].includes(event.code)) {
      btn = document.getElementById("goto-next");
    }
    if (btn !== null) btn.click();
  });
</script>

<style>
  body {
    width: 95vw;
  }

  .main-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img#photo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: 75vh;
  }

  header,
  .caption-container {
    width: var(--main-column-width);
  }
</style>

<!-- <script>
  addEventListener(
    "load",
    (e) => {
      document.getElementById("photo").scrollIntoView({ behavior: "smooth", block: "center" });
    },
  )
</script> -->

</html>