<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nj-vs-vh page</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>hi, I'm Igor</h1>
    <p>
      I do astroparticle physics
      <a
        href="https://www.gssi.it/people/students/students-physics/item/24616-vaiman-igor"
        >at GSSI</a
      >, software engineering on the web and around, music, and other things.
    </p>
    <p>this site is a place for me to document some of the stuff I do.</p>
    <h3>how to find me</h3>
    <ul>
      <li>
        <a href="https://github.com/nj-vs-vh" target="_blank">github</a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/igor-vaiman-110ba21a9/"
          target="_blank"
          >linkedin</a
        >
      </li>
      <li>
        <a href="https://soundcloud.com/nj_vs_valhalla" target="_blank"
          >soundcloud</a
        >
      </li>
      <li>
        <a href="mailto:gosha.vaiman@gmail.com" target="_blank">e-main</a> to gosha.vaiman@gmail.com
      </li>
    </ul>
    <h3>my projects in random order</h3>
    <ul>
      {% for project_href in project_hrefs %}
      <li>
        <a href="project/{{ project_href.slug }}">{{ project_href.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% include "license_footer.html" %}
  </body>
</html>
