<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Igor Vaiman's personal website, portfolio, project collection and playground"
    />
    <title>nj-vs-vh | music</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/favicon.ico" />
  </head>
  <body>
    <header><a href="/">home</a> /</header>
    <h1>music</h1>
    <p>
      {% if embeds %}
      <!--  -->
      <a href="?embeds=false">view without embeds</a>
      <!--  -->
      {% else %}
      <a href="?embeds=true">view with embeds</a>
      <!--  -->
      {% endif %}
    </p>
    <p>
      i spent most of my adult life making music in some form and engaging with
      various unerground / punk / DIY communities and scenes. here's some of the
      stuff i took part in. most of the projects were done in russia and in
      russian.
    </p>

    <section>
      <h2>
        Позоры
        <div role="doc-subtitle">
          2019 - pres. /
          <a target="_blank" href="https://pozori.bandcamp.com/">bandcamp</a> /
          drums, bass, composer, producer
        </div>
      </h2>
      <p>
        feminist noise punk, the most prominent band i had a luck to contribute
        to. also the band i played the most live shows with. i'm very proud of
        our 2025 album – it was made through years of immigration, hiatus, uncertainties
        and insecurities and it managed to come out funny, interesting and relevant.
      </p>

      {% if embeds %}
      <!--  -->
      <iframe
        style="border: 0; width: 100%; height: 42px"
        src="https://bandcamp.com/EmbeddedPlayer/album=1365007319/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"
        seamless
        ><a href="https://pozori.bandcamp.com/album/2-2"
          >2 Девичье 2 Горе by Позоры</a
        ></iframe
      >
      {% else %}
      <a href="https://pozori.bandcamp.com/album/2-2"
        >2 Девичье 2 Горе by Позоры</a
      >
      {% endif %}

      <p>
        one of my favorite works ever, an album done in one night in the wake of
        russian invasion of Ukraine as a desperate attempt to do
        <em>something</em>, which admittedly wasn't much. but the effort remains
        etched into these.
      </p>
      {% if embeds %}
      <!--  -->
      <iframe
        style="border: 0; width: 100%; height: 42px"
        src="https://bandcamp.com/EmbeddedPlayer/album=1215265108/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"
        seamless
        ><a href="https://pozori.bandcamp.com/album/--5"
          >АНТИВОЕННОЕ ВЫСКАЗЫВАНИЕ by Позоры</a
        ></iframe
      >
      {% else %}
      <a taget="_blank" href="https://pozori.bandcamp.com/album/--5"
        >АНТИВОЕННОЕ ВЫСКАЗЫВАНИЕ by Позоры</a
      >
      {% endif %}
      <details>
        <summary>some live videos and even a short documentary</summary>
        <div>
          {% if embeds %}
          <!--  -->
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/-J6RHHe42yQ?si=RW2Ct_I5kkzrqtY2"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/-y4AWMutlGk?si=C24z7i-Oxvssux-b"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/ec068PDQyoM?si=BbT0RyuloPHtyrbf"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/BFo_Rhh5TUE?si=ZFicqhuvyUAsyaRk"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          {% else %}
          <a
            target="_blank"
            href="https://www.youtube.com/embed/-J6RHHe42yQ?si=RW2Ct_I5kkzrqtY2"
            >youtube</a
          >
          <a
            target="_blank"
            href="https://www.youtube.com/embed/-y4AWMutlGk?si=C24z7i-Oxvssux-b"
            >youtube</a
          >
          <a
            target="_blank"
            href="https://www.youtube.com/embed/ec068PDQyoM?si=BbT0RyuloPHtyrbf"
            >youtube</a
          >
          <a
            target="_blank"
            href="https://www.youtube.com/embed/BFo_Rhh5TUE?si=ZFicqhuvyUAsyaRk"
            >youtube</a
          >
          {% endif %}
        </div>
      </details>
    </section>

    <section>
      <h2>
        корабельные сосны
        <div role="doc-subtitle">
          2016 - pres. /
          <a target="_blank" href="https://pinestobuildships.bandcamp.com"
            >bandcamp</a
          >
          / one-man-band, recording, mixing & mastering
        </div>
      </h2>
      <p>
        a personal creative outlet, a noisy reflection machine, a platform for
        experimentation in genres from screamo to field recording. i often have
        trouble sharing this project this with people because of how intimate
        and consequently cringy it gets at times.
      </p>
      {% if embeds %}
      <!--  -->
      <iframe
        style="border: 0; width: 100%; height: 42px"
        src="https://bandcamp.com/EmbeddedPlayer/album=2822025260/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"
        seamless
        ><a href="https://pinestobuildships.bandcamp.com/album/--6"
          >пролог by корабельные сосны</a
        ></iframe
      >
      <iframe
        style="border: 0; width: 100%; height: 42px"
        src="https://bandcamp.com/EmbeddedPlayer/album=4278700226/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"
        seamless
        ><a href="https://pinestobuildships.bandcamp.com/album/--4"
          >страх никогда не вернуться домой by корабельные сосны</a
        ></iframe
      >
      <iframe
        style="border: 0; width: 100%; height: 42px"
        src="https://bandcamp.com/EmbeddedPlayer/album=2211872663/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"
        seamless
        ><a href="https://pinestobuildships.bandcamp.com/album/--2"
          >Это вы by корабельные сосны</a
        ></iframe
      >
      {% else %}
      <a target="_blank" href="https://pinestobuildships.bandcamp.com/album/--6"
        >пролог by корабельные сосны</a
      >
      <a target="_blank" href="https://pinestobuildships.bandcamp.com/album/--4"
        >страх никогда не вернуться домой by корабельные сосны</a
      >
      <a target="_blank" href="https://pinestobuildships.bandcamp.com/album/--2"
        >Это вы by корабельные сосны</a
      >
      {% endif %}
      <p>noise experiments etc</p>
      {% if embeds %}
      <!--  -->
      <iframe
        style="border: 0; width: 100%; height: 42px"
        src="https://bandcamp.com/EmbeddedPlayer/album=3176640482/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"
        seamless
        ><a href="https://pinestobuildships.bandcamp.com/album/--5"
          >страх никогда не выйти из дома by корабельные сосны</a
        ></iframe
      >
      {% else %}
      <a target="_blank" href="https://pinestobuildships.bandcamp.com/album/--5"
        >страх никогда не выйти из дома by корабельные сосны</a
      >
      {% endif %}
      <p>
        for a brief moment around 2018-2019 i tried playing live shows, which
        are best summarized by this video
      </p>
      {% if embeds %}
      <!--  -->
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/TdGRRwJhhxM?si=XLJifrci87djKfLR"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      {% else %}
      <a
        target="_blank"
        href="https://www.youtube.com/embed/TdGRRwJhhxM?si=XLJifrci87djKfLR"
        >youtube</a
      >
      {% endif %}
      <details>
        <summary>...and some more</summary>
        {% if embeds %}
        <!--  -->
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/P2ekiRhqpv0?si=hauX5KTYYgMssqYo"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        {% else %}
        <a
          target="_blank"
          href="https://www.youtube.com/embed/P2ekiRhqpv0?si=hauX5KTYYgMssqYo"
          >youtube</a
        >
        {% endif %}
      </details>
    </section>

    <section>
      <h2>
        сукин сын
        <div role="doc-subtitle">
          2019 - 2023 /
          <a target="_blank" href="https://huigniluye265.bandcamp.com/"
            >bandcamp</a
          >
          / drums, recording & mixing (occasionally)
        </div>
      </h2>
      <p>
        a cheeky garage punk band i joined on accident and we all had a great
        time. the following recording is my favorite sound engineering work: two
        guitars and drums were recorded live overnight on just a 2-channel audio
        interface, with 4 mics mixed down from the mixer; zoom h1 on the floor
        worked as a "close mic" for drums; mixing & mastering was completed on
        the following day – the total production cycle was below 20 hours.
      </p>
      {% if embeds %}
      <!--  -->
      <iframe
        style="border: 0; width: 100%; height: 42px"
        src="https://bandcamp.com/EmbeddedPlayer/album=3266371413/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"
        seamless
        ><a href="https://huigniluye265.bandcamp.com/album/--3"
          >ужасное поведение by сукин сын</a
        ></iframe
      >
      {% else %}
      <a target="_blank" href="https://huigniluye265.bandcamp.com/album/--3"
        >ужасное поведение by сукин сын</a
      >
      {% endif %}
      <p>
        also, an accidental piece of ambient i glued in post-production from 20
        minutes of raw guitar noise
      </p>
      {% if embeds %}
      <!--  -->
      <iframe
        style="border: 0; width: 100%; height: 42px"
        src="https://bandcamp.com/EmbeddedPlayer/album=980220754/size=small/bgcol=ffffff/linkcol=0687f5/track=930618411/transparent=true/"
        seamless
        ><a href="https://huigniluye265.bandcamp.com/album/--2"
          >так напрягалась плоть by сукин сын</a
        ></iframe
      >
      {% else %}
      <a target="_blank" href="https://huigniluye265.bandcamp.com/album/--2"
        >так напрягалась плоть by сукин сын</a
      >
      {% endif %}
      <details>
        <summary>live videos</summary>
        <div>
          <p>one from an abandoned and squatted 1950-s barrack...</p>
          {% if embeds %}
          <!--  -->
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/O2wTeegmjTY?si=VojEpWOUv-wlkmfS"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          {% else %}
          <a
            target="_blank"
            href="https://www.youtube.com/embed/O2wTeegmjTY?si=VojEpWOUv-wlkmfS"
            >youtube</a
          >
          {% endif %}
          <p>
            and one from a "battle of the bands" type gig, ending with massive
            joint two-band jam
          </p>
          {% if embeds %}
          <!--  -->
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/ejNVbfLPLgc?si=nPbLkTIs-Wv7S43I&amp;start=1583"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          {% else %}
          <a
            target="_blank"
            href="https://www.youtube.com/embed/ejNVbfLPLgc?si=nPbLkTIs-Wv7S43I&amp;start=1583"
            >youtube</a
          >
          {% endif %}
        </div>
      </details>
    </section>
    <section>
      <h2>
        пыль высоко
        <div role="doc-subtitle">2015 - 2016 / drums, vocals</div>
      </h2>
      <p>
        a short-lived emo / shoegaze band where i attempted to play drums and
        sing at the same time with dubious success. the only release is
        <a href="https://drive.google.com/file/d/0B7jwLAFZ9nPHcl9CbWptd1VyakU/"
          >here</a
        >.
        <details>
          <summary>live videos</summary>
          <div>
            {% if embeds %}
            <!--  -->
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/Sw6zcbRO2lA?si=5o5SJQDcuyjjg37H"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
            {% else %}

            <a
              target="_blank"
              href="https://www.youtube.com/embed/Sw6zcbRO2lA?si=5o5SJQDcuyjjg37H"
              >youtube</a
            >
            {% endif %}
            <p>(draw me like one of your 90s screamo bands)</p>
            {% if embeds %}
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/ZwqXwsdWLc8?si=VWSEjybsvaQU8gtp"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
            {% else %}
            <a
              target="_blank"
              href="https://www.youtube.com/embed/ZwqXwsdWLc8?si=VWSEjybsvaQU8gtp"
              >youtube</a
            >
            {% endif %}
          </div>
        </details>
      </p>
    </section>

    <section>
      <h2>DJ PULSAR</h2>
      i occasionally DJ
      <img src="static/dj-pulsar.jpg" />
      <details>
        <summary>here are some of my playlists</summary>
        {% if embeds %}
        <!--  -->
        <iframe
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/playlist/0fY4YdI6ZdtJU8iLjc9azt?utm_source=generator&theme=0"
          width="100%"
          height="152"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
        <iframe
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/playlist/3vh6pS77vxf6wf8KhyrE2q?utm_source=generator&theme=0"
          width="100%"
          height="152"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
        <iframe
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/playlist/5m9wTCIrkDK8Xj1zZqxb29?utm_source=generator&theme=0"
          width="100%"
          height="152"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
        <iframe
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/playlist/5XWdOxdHuQYYokVsf7DylL?utm_source=generator&theme=0"
          width="100%"
          height="152"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
        {% else %}
        <a
          target="_blank"
          href="https://open.spotify.com/playlist/0fY4YdI6ZdtJU8iLjc9azt"
          >spotify</a
        >
        <a
          target="_blank"
          href="https://open.spotify.com/playlist/3vh6pS77vxf6wf8KhyrE2q"
          >spotify</a
        >
        <a
          target="_blank"
          href="https://open.spotify.com/playlist/5m9wTCIrkDK8Xj1zZqxb29"
          >spotify</a
        >
        <a
          target="_blank"
          href="https://open.spotify.com/playlist/5XWdOxdHuQYYokVsf7DylL"
          >spotify</a
        >
        {% endif %}
      </details>
    </section>

    <!-- <section>
      <h2>
        Name
        <div role="doc-subtitle">
          20xx - 20xx / <a href="website">bandcamp</a> / drums, bass, composer,
          producer
        </div>
      </h2>
      <p>description</p>
    </section> -->

    <section>
      <h2>misc</h2>
      <ul>
        <li>
          soundtrack and sound design for several small game jam projects (<a
            target="_blank"
            href="https://gasgiant.itch.io/piece"
            >one</a
          >,
          <a target="_blank" href="https://gasgiant.itch.io/negation">two</a>,
          <a target="_blank" href="https://gasgiant.itch.io/backup-shooter"
            >three</a
          >,
          <a target="_blank" href="https://gasgiant.itch.io/do-evilsh">four</a
          >), audio versions are on
          <a target="_blank" href="https://soundcloud.com/nj_vs_valhalla"
            >soundcloud</a
          >
        </li>
        <li>
          <div>
            ambient-ish outro track for an album by my friends' emoviolence band
          </div>
          {% if embeds %}
          <!--  -->
          <iframe
            width="100%"
            height="166"
            scrolling="no"
            frameborder="no"
            allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/669416966&color=%23525252&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
          ></iframe>
          <div
            style="
              font-size: 10px;
              color: #cccccc;
              line-break: anywhere;
              word-break: normal;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
                Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
              font-weight: 100;
            "
          >
            <a
              href="https://soundcloud.com/nj_vs_valhalla"
              title="Igor Vaiman"
              target="_blank"
              style="color: #cccccc; text-decoration: none"
              >Igor Vaiman</a
            >
            ·
            <a
              href="https://soundcloud.com/nj_vs_valhalla/piano_outro"
              title="piano_outro"
              target="_blank"
              style="color: #cccccc; text-decoration: none"
              >piano_outro</a
            >
          </div>
          {% else %}
          <a
            href="https://soundcloud.com/nj_vs_valhalla/piano_outro"
            title="piano_outro"
            target="_blank"
            >piano_outro</a
          >
          {% endif %}
        </li>

        <li>
          recording, mixing and mastering for the noise sludge metal band
          "Уберлицо" {% if embeds %}
          <!--  -->
          <iframe
            style="border: 0; width: 100%; height: 42px"
            src="https://bandcamp.com/EmbeddedPlayer/album=1502447142/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"
            seamless
            ><a href="https://masqeron.bandcamp.com/album/-"
              >Сибирское Евангелие by Уберлицо</a
            ></iframe
          >
          {% else %}
          <a target="_blank" href="https://masqeron.bandcamp.com/album/-"
            >Сибирское Евангелие by Уберлицо</a
          >
          {% endif %}
        </li>
        <li>
          drums recording for industrial noise rock "Союз Озверелых"
          <!--  -->
          {% if embeds %}
          <!--  -->
          <iframe
            style="border: 0; width: 100%; height: 42px"
            src="https://bandcamp.com/EmbeddedPlayer/album=3518751531/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"
            seamless
            ><a href="https://soyuz0zverelih.bandcamp.com/album/-"
              >Грохот немоты by Союз Озверелых</a
            ></iframe
          >
          {% else %}
          <a target="_blank" href="https://soyuz0zverelih.bandcamp.com/album/-"
            >Грохот немоты by Союз Озверелых</a
          >
          {% endif %}
        </li>
        <li>
          <details>
            <summary>for a while, drums at the screamo band "Moé"</summary>
            {% if embeds %}
            <!--  -->
            <iframe
              src="https://vk.com/video_ext.php?oid=-150590882&id=456239017&hd=1"
              width="640"
              height="360"
              allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
              frameborder="0"
              allowfullscreen
            ></iframe>
            {% else %} {% endif %}
          </details>
        </li>
      </ul>
    </section>

    {% include "license_footer.html" %}
  </body>
</html>
<style>
  [role="doc-subtitle"] {
    font-size: medium;
    font-weight: 600;
    margin-top: 0.5em;
  }

  #collapsible-content {
    display: none;
  }
  #toggle:checked + #collapsible-content {
    display: block;
  }
</style>
