<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Igor Vaiman's personal website, portfolio, project collection and playground"
    />
    <title>nj-vs-vh page</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/favicon.ico" />
  </head>
  <body>
    <header><a href="/">home</a> /</header>
    <h1>music</h1>
    <p>
      i spent most of my adult life making music in some form and engaging with
      various unerground / punk / DIY communities and scenes. here's some of the
      stuff i took part in. most of the projects were done in russia and in
      russian.
    </p>
    <section>
      <h2>
        Позоры
        <div role="doc-subtitle">
          2019 - pres. / <a href="https://pozori.bandcamp.com/">bandcamp</a> /
          drums, bass, composer, producer
        </div>
      </h2>
      <p>
        feminist noise punk, the most prominent band i had a luck to contribute
        to. the band i played the most live shows. an album coming at some point
        in the future.
      </p>

      <iframe
        style="border: 0; width: 100%; height: 42px"
        src="https://bandcamp.com/EmbeddedPlayer/album=4158032550/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"
        seamless
        ><a href="https://pozori.bandcamp.com/album/--4"
          >Женщина by Позоры</a
        ></iframe
      >

      <p>
        one of my favorite works, an album done in one night in the wake of
        russian invasion of Ukraine as a desperate attempt to do
        <em>something</em>, which wasn't much
      </p>
      <iframe
        style="border: 0; width: 100%; height: 42px"
        src="https://bandcamp.com/EmbeddedPlayer/album=1215265108/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"
        seamless
        ><a href="https://pozori.bandcamp.com/album/--5"
          >АНТИВОЕННОЕ ВЫСКАЗЫВАНИЕ by Позоры</a
        ></iframe
      >

      <details>
        <summary>some live videos (and even a documentary)</summary>
        <div>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/-J6RHHe42yQ?si=RW2Ct_I5kkzrqtY2"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/-y4AWMutlGk?si=C24z7i-Oxvssux-b"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/ec068PDQyoM?si=BbT0RyuloPHtyrbf"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/BFo_Rhh5TUE?si=ZFicqhuvyUAsyaRk"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </details>
    </section>
    <section>
      <h2>
        корабельные сосны
        <div role="doc-subtitle">
          2016 - pres. /
          <a href="https://pinestobuildships.bandcamp.com">bandcamp</a> /
          one-man-band, recording, mixing & mastering
        </div>
      </h2>
      <p>
        a personal creative outlet and a platform for experimentation in genres
        from screamo to field recording. i often have trouble sharing this
        project this with people because of how intimate and consequently cringe
        it gets at times.
      </p>
      <iframe
        style="border: 0; width: 100%; height: 42px"
        src="https://bandcamp.com/EmbeddedPlayer/album=2822025260/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"
        seamless
        ><a href="https://pinestobuildships.bandcamp.com/album/--6"
          >пролог by корабельные сосны</a
        ></iframe
      >
      <iframe
        style="border: 0; width: 100%; height: 42px"
        src="https://bandcamp.com/EmbeddedPlayer/album=4278700226/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"
        seamless
        ><a href="https://pinestobuildships.bandcamp.com/album/--4"
          >страх никогда не вернуться домой by корабельные сосны</a
        ></iframe
      >
    </section>
    <section>
      <h2>
        сукин сын
        <div role="doc-subtitle">
          2019 - 2023 /
          <a href="https://huigniluye265.bandcamp.com/">bandcamp</a> / drums,
          recording & mixing (in part)
        </div>
      </h2>
      <p>
        a cheeky garage punk band i joined on accident and we all had a great
        time. the following recording is my favorite sound engineering work: two
        guitars and drums were recorded live overnight on just a 2-channel audio
        interface, with 4 mics mixed down from the mixer; zoom h1 on the floor
        worked as a "close mic" for drums; mixing & mastering was completed on
        the following day – the total production cycle was below 20 hours.
      </p>
      <iframe
        style="border: 0; width: 100%; height: 42px"
        src="https://bandcamp.com/EmbeddedPlayer/album=3266371413/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"
        seamless
        ><a href="https://huigniluye265.bandcamp.com/album/--3"
          >ужасное поведение by сукин сын</a
        ></iframe
      >
      <p>
        also, an accidental piece of ambient i glued in post-production from 20
        minutes of raw guitar noise
      </p>
      <iframe
        style="border: 0; width: 100%; height: 42px"
        src="https://bandcamp.com/EmbeddedPlayer/album=980220754/size=small/bgcol=ffffff/linkcol=0687f5/track=930618411/transparent=true/"
        seamless
        ><a href="https://huigniluye265.bandcamp.com/album/--2"
          >так напрягалась плоть by сукин сын</a
        ></iframe
      >
      <details>
        <summary>live videos</summary>
        <div>
          <p>one from an abandoned and squatted 1950-s barrack...</p>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/O2wTeegmjTY?si=VojEpWOUv-wlkmfS"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <p>
            and one from a "battle of the bands" type gig, ending with massive
            joint two-band jam
          </p>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/ejNVbfLPLgc?si=nPbLkTIs-Wv7S43I&amp;start=1583"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </details>
    </section>
    <!-- <section>
      <h2>
        Name
        <div role="doc-subtitle">
          20xx - 20xx / <a href="website">bandcamp</a> / drums, bass, composer,
          producer
        </div>
      </h2>
      <p>description</p>
    </section> -->
    {% include "license_footer.html" %}
  </body>
</html>
<style>
  [role="doc-subtitle"] {
    font-size: medium;
    font-weight: 600;
    margin-top: 0.5em;
  }

  #collapsible-content {
    display: none;
  }
  #toggle:checked + #collapsible-content {
    display: block;
  }
</style>
