<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nj-vs-vh | {{ project.metadata.title }}</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/favicon.ico" />
    <!-- highligh.js setup -->
    {% if project.metadata.code_languages.len() > 0 %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-light.min.css"
    />
    {% for code_lang in project.metadata.code_languages %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/{{code_lang}}.min.js"></script>
    {% endfor %} {% endif %}
    <!-- mathjax setup -->
    {% if project.metadata.math %}
    <!--  -->
    {% include "mathjax_setup.html" %}
    <!--  -->
    {% endif %}
  </head>
  {% if project.metadata.code_languages.len() > 0 %}
  <script>
    hljs.highlightAll();
  </script>
  {% endif %}
  <body>
    <header><a href="/">home</a> / <a href="/projects">projects</a> /</header>
    <h1 style="margin-bottom: 0.3em">{{ project.metadata.title }}</h1>
    <div class="stack">
      <div>{{ project.metadata.start }}</div>

      <!--  -->
      {% if project.metadata.links.len() > 0 %}
      <div class="group">
        <strong>links:</strong>
        {% for link in project.metadata.links %}
        <a href="{{link.url}}" target="_blank">{{ link.name }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="project-body">{{ project.body_html|escape("none") }}</div>
    {% if project.metadata.tags.len() > 0 %}
    <div class="group" style="font-size: smaller">
      {% for tag in project.metadata.tags %}
      <a href="/projects?tag={{tag}}" title="list projects tagged with {{tag}}"
        >{{ tag.name }}</a
      >
      {% endfor %}
    </div>
    {% endif %} {% include "license_footer.html" %}
  </body>
</html>
<style>
  .project-body > p {
    text-align: justify;
  }

  .stack {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .group {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: baseline;
  }
</style>
