<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nj-vs-vh | {{ title }}</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/favicon.ico"/>
  </head>
  <body>
    <header>
      <a href="/"><-</a>
    </header>
    <h1 style="margin-bottom: 0.3em">{{ title }}</h1>
    {% if related_links.len() > 0 %}
    <div
      style="
        margin: 1.5rem auto;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: baseline;
      "
    >
      <span>Links:</span>
      {% for link in related_links %}
      <a href="{{link.url}}" target="_blank">{{ link.name }}</a>
      {% endfor %}
    </div>
    {% endif %}
    <div>{{ body_html|escape("none") }}</div>
    {% include "license_footer.html" %}
  </body>
</html>
